Django==2.2
pytz==2018.9
sqlparse==0.3.0
djangorestframework
gunicorn
torch==1.2.0+cpu torchvision==0.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
django-allauth
sentence_transformers
whitenoise
django-heroku
dj-database-url
