Django==2.2
pytz==2018.9
sqlparse==0.3.0
djangorestframework
torch==1.3.1+cpu
gunicorn
django-allauth
django-rest-auth
djangorestframework-jwt
django-cors-headers
sentence_transformers
whitenoise
dj-database-url
