{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3 class="bar">{% trans "Change Password" %}</h3>

    <div class="main-box">
    <form class="signup" method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
{% endblock %}
