{% extends 'index.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<h3 class="bar">Sign Up</h3>
<div class="signup">
<p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
<form class="signup-form-ul" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_ul }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Sign Up</button>
</form>
</div>
{% endblock %}
