<!-- templates/home.html -->
{% extends 'index.html' %}
{% load static %}
{% block content %}
<nav>
    <ul class="bar">
        <a href="{% url 'master:home' %}"><u>About</u></a>
        <a href="{% url 'master:shouts' %}"><u>Recents</u></a>
        <a href="{% url 'master:create_shout' %}"><u>Create</u></a>
    </ul>
</nav>

<p> What is Shout It? </br>
It is a platform for you to share anything about your feelings, your personal and social issues. </br>
There are users who are sharing there own problems and feelings. You can view that in 
<a href="{% url 'master:shouts' %}"><u>recents</u></a> tab. 
</p>
<p>To create your own shout, use the <a href="{% url 'master:create_shout' %}"><u>create</u></a> tab. 
</p>
<p>
The Logo returns you into this page.
</p>
<p>
Feel free to support a user whose problem is similar to yours. With 5 supports, you guys can unlock
discussion feature! 
</p>
{% endblock %}
