<!-- templates/home.html -->
{% extends 'index.html' %}
{% load static %}
{% block content %}
<nav>
    <ul class="bar">
        <a href="{% url 'home' %}"><u>About</u></a>
        <a href="{% url 'master:shouts' %}"><u>Recents</u></a>
        <a href="{% url 'master:create_shout' %}"><u>Create</u></a>
    </ul>
</nav>

<div class="bar">
    <p> What is <strong>Shout It?</strong> </br>
It is a platform for you to share anything about your feelings or your personal and social issues. </br>
There are users who are sharing their own problems and feelings. You can view that in 
<a href="{% url 'master:shouts' %}"><u>recents</u></a> tab. 
</p>
<p>To create your own shout, use the <a href="{% url 'master:create_shout' %}"><u>create</u></a> tab. 
</p>
<p>
The Logo returns you into this page.
</p>
<p>
Feel free to support a user whose problem is similar to yours. With 5 supports, you guys can unlock
discussion!  
</p>
<p>
Because of limitation on Heroku, we have added a demo video for our 'Echo' feature.
<iframe width="1246" height="701" src="https://www.youtube.com/embed/Diou-mQH9Rw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
</div>
{% endblock %}{% url 'home' %}
