{% extends 'index.html' %}
{% block title %}
{{shout.title}}
{% endblock %}

{% block content %}
<h3 class="bar"> 
<a href="{% url 'master:user_detail' shout.shouter.username %}">
    <span class="shouter">{{shout.shouter}}</span></br>
{{shout.title}}
</a> </h3>
<h3 class="bar">Comments</h3>
<div class="comment-box">
    {% if user.is_professional or user in shout.supporters.all %}
    <td> <a href="{% url 'master:create_comment' shout.slug %}">Add Comment</a></td></br>
    {% endif %}
    {% for comment in comments %}
    <div class="comment-text">
        <a href="{% url 'master:user_detail' comment.commented_by %}">
            <span class="shouter">{{ comment.commented_by }} </span> </br>
        </a>
        {{comment.text}}
        {% if user.is_professional or user == comment.commented_by %}
        <a class="action-element"href="{% url 'master:delete_comment' comment.slug %}">Delete</a></br>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
