{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Echoed Shouts{% endblock %}

{% block content%}
<h3 class="bar">Echoed Shouts</h3>
{% for shout in shouts  %}
<br>

<div class="bar shout-box main-border">
    <a href="{% url 'master:user_detail' shout.shouter %}">
        <span class="shouter">{{ shout.shouter }} &mdash; {{shout.created_at}} </span>
    </a>
        </br>
    <a href="{% url 'master:shout_detail' shout.slug %}">
        <h3>{{ shout.title }}</h3>
    <p>
    {{shout.body}}
    </p>
    </a>

</div>

{% endfor %}
{% endblock %}
