{% extends 'index.html' %}
{% block title %}
{{object.username}}
{% endblock %}

{% block content %}
<h3 class="bar">{{object.username}}</h3>
<div class="user-info">
    <span class="shouter"> Status&mdash; {% if request.user.account_verified %} (verified) {% else %} (unverified) {% endif %}</span>
    <span class="shouter">{% if  user.is_professional %} Pro {% endif %}</span> </br>
    <h3> <span class="shouter"> Date Joined&mdash;</span>  {{object.date_joined}}</h3>
    {% if request.user.is_authenticated and request.user.username == user.username %} <a href="{% url 'master:user_settings' %}">Settings</a> </br> {% endif %}
</div>
<h3>{{object.username}}'s shouts</h3>
    {% for shout in shouts %}
    <br>
    <div class="bar shout-box main-border">
        <span> {{shout.created_at}} </span>
        </br>
        <a href="{% url 'master:shout_detail' shout.slug %}">
            <h3>{{ shout.title }}</h3>
        <p>
        {{shout.body}}
        </p>
        </a>
    </div>
{% endfor %}
{% endblock %}
